/* My Tech Team */

@import url(http://fonts.googleapis.com/css?family=Ultra|Oswald:400);

/*
h1 { font-family: 'Ultra', serif; }
p { font-family: 'Oswald', sans-serif; }
*/

/* Menu */
.gf-menu { margin-top: 0; text-align: center; }
.gf-menu li { display: inline-block; float: inherit; }
.gf-menu .item,
.gf-menu.l1 > li > .item { font-family: 'Oswald', sans-serif; font-size: 18px; text-transform: uppercase; }
.gf-menu li.parent > .item::after { top: 60%; }

/* Logo Module */
#mtt-city { font-family: 'Oswald', sans-serif; font-size: 36px; letter-spacing: 2px; line-height: 36px; text-transform: uppercase; }
#mtt-logo { height: 81px; vertical-align: top; width: 81px; }
#mtt-name, #mtt-name a { color: #146935; font-family: 'Ultra', serif; font-size: 64px; letter-spacing: 9px; margin-left: 6px; text-align: center; text-transform: uppercase; }
#mtt-name a:hover { color: #146935; }
#mtt-name span { font-size: 72px; }
#mtt-phone { color: #111; font-family: 'Oswald', sans-serif;  font-size: 78px; line-height: 78px; }
#mtt-state { font-family: 'Ultra', serif;  font-size: 32px; margin-top: 7px; text-transform: uppercase; }
#mtt-wrapper { text-align: center; }
#mtt-wrapper > div { display: inline-block; }
#mtt-city, #mtt-state { color: #111; display: block; }
